# http://editorconfig.org
root = true

# Globale Standardregeln für alle Dateien
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Spezifisch für Shell-Skripte und Hooks (zwingend LF)
[*.sh]
end_of_line = lf

[.githooks/*]
end_of_line = lf

# Markdown: Zwei Leerzeichen am Zeilenende stehen für manuelle Zeilenumbrüche
[*.md]
trim_trailing_whitespace = false

# XML / Android Manifeste
[*.xml]
indent_style = space
indent_size = 4

# Gradle-Dateien (Groovy/Kotlin-DSL)
[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4